.app {
  text-align: center;
}

.board-frame {
  border-bottom: 0.25em solid #7b7b7b;
  border-right: 0.25em solid #7b7b7b;
  border-left: 0.25em solid white;
  border-top: 0.25em solid white;

  padding: 0.5em;
  background-color: #bcbcbc;
}

.board-frame .board-header {
  border-top: 0.25em solid #7b7b7b;
  border-left: 0.25em solid #7b7b7b;
  border-right: 0.25em solid white;
  border-bottom: 0.25em solid white;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

.board-frame .button {
  border-bottom: 0.25em solid #7b7b7b;
  border-right: 0.25em solid #7b7b7b;
  border-left: 0.25em solid white;
  border-top: 0.25em solid white;

  padding: 0;

  vertical-align: top;
  align-items: center;

  background-color: #bcbcbc;
}

.board-frame .button:active {
  border-top: 0.25em solid #7b7b7b;
  border-left: 0.25em solid #7b7b7b;
  border-bottom: 0.25em solid white;
  border-right: 0.25em solid white;

  background-color: #bcbcbc;
}

.board-frame .smiley-button {
  height: 2.5em;
  width: 2.5em;
}

.board-frame .smiley-button .button-smiley {
  font-size: 1.2em;
  vertical-align: text-top;
}
