@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700');

.cell {
  display: inline-block;
  font-family: 'IBM Plex Mono', monospace;
}

.cell:focus {
  outline: none;
}

.cell.shown-cell {
  background-color: #bcbcbc;
  border: 0.25em solid #bcbcbc;
  outline: 0.075em solid #7a7a7a;
  height: 2em;
  width: 2em;

  padding: 0;
  vertical-align: top;
  align-items: center;
}

.cell.hidden-cell {
  border-bottom: 0.25em solid #7b7b7b;
  border-right: 0.25em solid #7b7b7b;
  border-left: 0.25em solid white;
  border-top: 0.25em solid white;

  padding: 0;

  height: 2em;
  width: 2em;

  vertical-align: top;
  align-items: center;

  background-color: #bcbcbc;
}

.cell.hidden-cell:active {
  border-top: 0.25em solid #7b7b7b;
  border-left: 0.25em solid #7b7b7b;
  border-bottom: 0.25em solid white;
  border-right: 0.25em solid white;

  height: 2em;
  width: 2em;

  background-color: #bcbcbc;
}

.cell .cell-emoji {
  font-size: 1em;
  vertical-align: text-top;
}

.cell .cell-misflag .cell-misflag-x {
  position: relative;
  top: -1em;
  color: #fe0f00;
  font-size: 1.5rem;
}

.cell .cell-1 {
  color: #0f03ff;
}

.cell .cell-2 {
  color: #087a00;
}

.cell .cell-3 {
  color: #fe0f00;
}

.cell .cell-4 {
  color: #07017a;
}

.cell .cell-5 {
  color: #830800;
}

.cell .cell-6 {
  color: #0b8183;
}

.cell .cell-7 {
  color: #830883;
}

.cell .cell-8 {
  color: #747474;
}
